<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>525222765978-shoha142pcdrmnp09ij4v1frn8o8qaj5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525222765978-shoha142pcdrmnp09ij4v1frn8o8qaj5</string>
	<key>API_KEY</key>
	<string>AIzaSyCYQFHgrmkcb7K-aF7XzmcJg0T4ndjZbi0</string>
	<key>GCM_SENDER_ID</key>
	<string>525222765978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jcswifty.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ea279</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ea279.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525222765978:ios:02ef69ed3cb8a4ed</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ea279.firebaseio.com</string>
</dict>
</plist>